#sidebar .searcharea{
    display: inline-block;
        height: 100%;
        width: 100%; 
		  padding : 6%;
		  border-radius: 15px;
		  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		  color: var(--black);
}

#sidebar .searcharea .h3-search{
    text-align:center;
    color:#2024ee;
}

#sidebar .searcharea .list-group ul li label{
    color: #27ae60;
}

#sidebar .searcharea .list-group ul li input[type="radio"]{
    -webkit-appearance: none;
    cursor: pointer;
}

#sidebar .searcharea .list-group ul li input[type="radio"]:checked + label i{
    color: blue;
}

#sidebar .searcharea .list-group ul li{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    display: block;
    font-size: 30px;
    padding: 9px;
    margin: 0px;
}

#sidebar .searcharea .list-group ul li label{
    cursor: pointer;
}

#content1 .cardtotal{
      align-items: center;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     width:auto;
     height: auto;
}


#content1 .cardtotal .card{
    box-sizing: border-box;
    justify-content: center;
    width: 25%;
    height: auto;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin:  2% 4% 2% 4%;
    z-index: 2;
}

#content1 .cardtotal .card:hover{
    z-index: 3;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.2) ;
    transform: scale(1.05);
}

#content1 .cardtotal .card .image{
    height: 145px;
    width: 60%;
    border-radius: 50%;
    padding: 4px;
    /* justify-items: center; */
    background: #7d2ae8;
    display: inline-block;
    margin-top: 4%;
}

#content1 .cardtotal .card .image img{
    height: 100%;
    width: 100%;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
    
}

#content1 .cardtotal .card button{
    background: #9b5bee;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-bottom: 4%;
}

#content1 .cardtotal .card button a{
    color: black;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1.5erm;
}

#content1 .cardtotal .card button:hover{
   
    background: #7d2ae8;
}

#search .image{
    height: 423px;
    width: 435px;
    border-radius: 50%;
    padding: 4px;
    /* justify-items: center; */
    background: #7d2ae8;
    display: inline-block;
    margin-top: 4%;
    margin-left: 6%;


}

#search .image img{
    height: 100%;
    width: 100%;
    justify-content: center;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #fff;
}

#content1 .dis-farmer{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 4%;

}

#content1 .dis-farmer .dis-detail{
    display: inline-grid;
    gap: 10px;
    margin-top: 2%;
    margin-bottom: 4%;
    justify-content: start;
    text-align: initial;
    font-family: sans-serif;
    font-size: 19px;
    width: 100%;
}

#content2 .ordertable{
    width: 90%;
    height: auto;
    margin-left: 4%;
    box-sizing: border-box;
}