nav {
    margin:5px 5px 5px 5px;
    width: 99%;
    height: 60px;
    background-color:rgb(141, 238, 141);
    border-radius:20px;
}
nav p {
    font-family:arial;
    font-size:30px;
    line-height:50px;
    float:left;
}
nav ul {
    float:left;
}
nav ul li {
    float:left;
    list-style:none;
    position:relative;
}
nav ul li a {  
    display:block;
    font-family:arial;
    color:green;
    font-size:30px;
    padding:24px 14px;
    text-decoration:none;
}

nav ul li ul li a  {
    display:block;
    position:absolute;
}
.dist {
    margin-left:20px;
}